@model TalentAcquisition.Core.Domain.OfficePosition

@{
    ViewBag.Title = "Create Job";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li><a href="@Url.Action("Jobmanager","Admin")">Job Manager</a></li>
    <li class="active">Create Job</li>
</ol>
<style>
    h5{
        border-bottom:1px solid lightgrey;
        padding-bottom:0.8em;
    }
</style>

<section class="mainbody">
    <div class="">
        <div class="container-fluid" style="font-size:80%">
            <span class="alert-danger">@ViewBag.Error</span>
            <form action="" method="post" id="createform" ng-controller="JobController">
                @*create job styles*@

                @Html.AntiForgeryToken()
                @*job details*@
                <div class="">
                    <div class="">
                        <div class="">
                            <a data-toggle="collapse" href="#collapse1"> <h5 style="font-weight:bold"> Job Details</h5></a>
                        </div>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-horizontal" style="font-size:90%">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="container-fluid">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="col-md-4">Job ID</label>
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.JobID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                @Html.ValidationMessageFor(model => model.JobID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4">Job Title</label>
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4">Post (s)</label>
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Posts, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                @Html.ValidationMessageFor(model => model.Reqirements, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4">Job Description</label>
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.JobDescription, new { htmlAttributes = new { @class = "form-control " } })
                                                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="col-md-4">Main Objective</label>
                                          <div class="col-md-7">
                                            @Html.EditorFor(model => model.MainObjective, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MainObjective, "", new { @class = "text-danger" })
                                        </div>
                                        </div>
                              
                                        <div class="form-group">
                                            <label class="col-md-4">Industry</label>
                                           <div class="col-md-7">
                                            @Html.DropDownList("IndustryID", new SelectList(ViewBag.Industries, "IndustryId", "Name"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.IndustryID, "", new { @class = "text-danger" })
                                        </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4">Department</label>
                                            <div class="col-md-7">
                                            @Html.DropDownList("DepartmentID", new SelectList(ViewBag.Departments, "DepartmentID", "DepartmentName"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4">Position Reporting To</label>
                                            <div class="col-md-7">
                                            @Html.DropDownList("SupervisorID", new SelectList(ViewBag.Positions, "OfficePositionID", "Title"), "", htmlAttributes: new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
                                        </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4">Branch</label>
                                            <div class="col-md-7">
                                            @Html.DropDownList("BranchID", new SelectList(ViewBag.Branches, "BranchId", "Location"),  "", htmlAttributes: new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>








                                    @*
                                      <label>job description</label>

                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })


                                   @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })*@


                                    @*second col in job details*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        @*job requirement*@
        <div class="">
            <div class="">
                <div class="">
                    <a data-toggle="collapse" href="#collapse2"> <h5 style="font-weight:bold">Job Requirements</h5></a>
                </div>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <a id="additem" href="javascript:void(0)" ng-click="addGrievanceType()" style="padding:0.6em; border-radius:10px;margin-bottom:1em" class="btn btn-default btn-xs"><img src="~/Assets/Icons/File-Plus.png" width="20" /> Add</a>


                    @*@Html.Action("_GetRequirements")*@
                    <div id="empform" ng-submit="submitGrievanceTypes()">
                        <table id="mytable" class="table table-striped" style="font-size:80%;border:1px solid lightgrey">
                            <thead>
                                <tr >
                                    <th>No</th>
                                    <th>Code</th>
                                    <th>Type</th>
                                    <th>Score ID</th>
                                    <th>Priority</th>
                                    <th>Need Code</th>
                                    <th>Stage Code</th>
                                    <th>Desired Code</th>
                                    <th>Mandatory</th>
                                    <th>Modification</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in grievanceTypes">
                                    <td>{{$index+1}}</td>
                                    <td style="width:10em">
                                        <select class="form-control input-sm" name="Line[{{$index}}].QualificationCode" ng-model="SelectedCodes[$index]"
                                                ng-options="item.QualificationCode for item in codes track by item.QualificationCode" ng-change="codeSelected($index)"></select>
                                    </td>
                                    <td style="width:10em">
                                        <select class="form-control" name="Line[{{$index}}].QualificationType" ng-model="type.QualificationType"
                                                ng-options="item.QualificationType for item in validtypes track by item.QualificationType"></select>
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" name="Line[{{$index}}].Priority" ng-required="true" ng-model="type.Priority" ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" name="Line[{{$index}}].ScoreID" ng-required="true" ng-model="type.ScoreID" ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" name="Line[{{$index}}].NeedCode" ng-required="true" ng-model="type.NeedCode" ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" name="Line[{{$index}}].StageCode" ng-required="true" ng-model="type.StageCode" ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" name="Line[{{$index}}].DesiredScore" ng-required="true" ng-model="type.DesiredScore" ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input type="checkbox" name="Line[{{$index}}].Mandatory" ng-model="type.Mandatory" value="true" />
                                        <input type="hidden" class="hidden" name="Line[{{$index}}].Mandatory" value="false" />
                                    </td>
                                    <td>
                                        @*<input type="checkbox" name="Line[{{$index}}].Mandatory" ng-model="type.Mandatory" ng-disabled="!enabledEdit[{{$index}}]" />*@
                                        @*<button class="btn btn-primary btn-xs" ng-click="edit($index)">Edit</button>*@
                                        <a id="removeitem" href="javascript:void()" ng-click="delete($index)"><img src="~/Assets/Icons/Delete.png" width="20" height="20" class="pull-right" /></a>
                                        @*<button class="btn btn-danger btn-xs" ng-click="delete($index)"><img src="~/Assets/Icons/Delete.png" width="20" height="20" class="pull-right" /></button>*@
                                    </td>@*<td class="hidden"><input type="text" id="Line[{{$index}}].ID" name="Line[{{$index}}].ID" ng-required="true" value="0" ng-model="type.ID" ng-disabled="!enabledEdit[{{$index}}]" /></td>
                                <td class="hidden"><input type="text" id="Line[{{$index}}].OfficePositionID" name="Line[{{$index}}].OfficePositionID" value="0" ng-model="type.OfficePositionID" ng-disabled="!enabledEdit[{{$index}}]" /></td>
                                <td class="hidden"><input type="text" id="Line[{{$index}}].QualificationID" name="Line[{{$index}}].QualificationID" value="0" ng-model="type.QualificationID" ng-disabled="!enabledEdit[{{$index}}]" /></td>*@

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*submit/create job buttons*@
        <div class="container-fluid">
            <a href="javascript:void()" id="submitjob" style="padding:0.6em; border-radius:10px;margin-top:1em" class="btn btn-info btn-md">@*<img src="~/Assets/Icons/File-Plus.png" width="20" />*@Submit Job</a>
            @*<a href="javascript:void()" id="reqjob" style="padding:0.6em; border-radius:10px" class="btn btn-default btn-xs"><img src="~/Assets/Icons/File-Plus.png" width="20" />Create Requisition</a>*@
        </div>



    </div>

</section>
 
@section Scripts{
    <script type="text/javascript">
        var reqcount = 1;
        codesbs= @Html.Raw(Json.Encode(ViewBag.Codes));
        typesbs= @Html.Raw(Json.Encode(ViewBag.Types));
        $(document).ready(function()
        {
            var frm = $("#createforms");
            $("#submitjob").on("click", function () {
                alert("");
                $("#createform").submit();
            });
            frm.submit(function (e) {

               e.preventDefault();

                $.ajax({
                    type: frm.attr('method'),
                    url: "@(Url.Action("Job/Create","Admin"))",
                    data: frm.serializeArray()
                });

            });

        });
</script>
}