
@{
    ViewBag.Title = "Complaint Manager";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

    @*<p style="font-size: 22px;">Complaint Management</p>*@
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
        @*<li><a href="#">Private</a></li>*@
        @*<li><a href="#">Pictures</a></li>*@
        <li class="active">Complaint Management</li>
    </ol>
    <section class="container-fluid">
    <div class="container-fluid">
        <div class="">
            @*<div class="panel-heading">
                <p class="">Complaint Management</p>
            </div>*@
            <div class="">
                <style>
                    h5{
                        font-weight:bold;
                        border-bottom:1px solid lightgrey;
                        padding-bottom:0.8em;
                    }
                </style>
                @*<ul>*@
                    <h5>@Html.ActionLink("Register Grievance Complaint", "Grievance/Create", "Complaint")</h5>
                    @if (User.IsInRole("Admin"))
                    {
                        <h5>@Html.ActionLink("Setup Grievance Actions", "Grievance/Action", "Complaint")</h5>
                        <h5>@Html.ActionLink("Setup Grievance Types", "Grievance/Type", "Complaint")</h5>
                        <h5>@Html.ActionLink("Manage Grievance Complaints", "Grievance/All", "Complaint")</h5>
                        <h5>@Html.ActionLink("Setup Indiscipline Types", "Indiscipline/Type", "Complaint")</h5>
                        <h5>@Html.ActionLink("Setup Disciplinary Action", "Disciplinary/Action", "Complaint")</h5>
                        <h5>@Html.ActionLink("Add Disciplinary Case (Misconduct)", "Disciplinary/Case", "Complaint")</h5>
                        <h5>@Html.ActionLink("Manage Disciplinary Cases", "Disciplinary/Cases", "Complaint")</h5>
                        @*<li>@Html.ActionLink("Supervisor Appraisal ", "Appraisal/Supervisor", "Complaint")</li>
                        <li>@Html.ActionLink("Setup Appraisal Grade", "Appraisal/Grade", "Complaint")</li>
                        <li>@Html.ActionLink("Setup Appraisal Category", "Appraisal/Category", "Complaint")</li>
                        <li>@Html.ActionLink("Appraisal Template", "Appraisal/Template", "Complaint")</li>
                        <li>@Html.ActionLink("Create Appraisal Template", "Appraisal/Template/Create", "Complaint")</li>*@
                    }
                @*</ul>*@
            </div>
        </div>
    </div>
</section>


