
@{
    ViewBag.Title = "Performance";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
@*<p style="font-size: 22px;">Performance</p>*@
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">Performance</li>
</ol>
<section class="container-fluid">
    <div class="container-fluid">
        <div class="">
            @*<div class="panel-heading">
                <p class="">Performance Management</p>
            </div>*@
            <div class="">
                <style>
                    h5{
                        font-weight:bold;
                        border-bottom:1px solid lightgrey;
                        padding-bottom:0.8em;
                    }
                </style>
                @*<ul>*@
                    <h5>@Html.ActionLink("Employee Self Appraisal", "Appraisal/Personal", "Performance")</h5>
                    @if (User.IsInRole("Admin"))
                    {
                        <h5>@Html.ActionLink("Appraisals Pending Supervisors Review", "Appraisal/Pending", "Performance")</h5>
                        <h5>@Html.ActionLink("Employee Appraisal List", "Appraisal/Manage", "Performance")</h5>
                        <h5>@Html.ActionLink("Approved Employee Appraisal List", "Appraisal/Approved", "Performance")</h5>
                        <h5>@Html.ActionLink("Setup Appraisal Grade", "Appraisal/Grade", "Performance")</h5>
                        <h5>@Html.ActionLink("Setup Appraisal Type", "Appraisal/Type", "Performance")</h5>
                        @*<li>@Html.ActionLink("Setup Appraisal Category", "Appraisal/Category", "Performance")</li>*@
                        <h5>@Html.ActionLink("Setup Appraisal Period", "Appraisal/Period", "Performance")</h5>
                        <h5>@Html.ActionLink("Manage Appraisal KPI Template", "Appraisal/Templates", "Performance")</h5>
                        <h5>@Html.ActionLink("Setup New Appraisal KPI Template", "Appraisal/Template/Create", "Performance")</h5>
                    }
                @*</ul>*@
            </div>
        </div>
    </div>
</section>

