
@{
    ViewBag.Title = "Trainings";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
@*<p style="font-size: 22px;">Trainings</p>*@
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">Trainings</li>
</ol>
<style>
    h5 {
        color: #428bca !important;
        text-decoration: none !important;
    }

    a {
        text-decoration: none !important;
    }

        a:hover {
            color: #2a6496;
            text-decoration: none;
        }

    h5 {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 0.8em;
        font-weight:bold;
    }
</style>

<section class="container-fluid ">
    <div class="container-fluid">
        <div class="">
            @*<div class="">
                <p class="">Activities</p>
            </div>*@
            <div class="">
                @*<ul>*@
                    <h5>@Html.ActionLink("View Personal Training Schedule", "Personal/Schedule", "Trainings")</h5>
                    <h5>@Html.ActionLink("Request For New Training", "Request/Create", "Trainings")</h5>
                     @if (User.IsInRole("Admin"))
                     {
                            <h5>@Html.ActionLink("Approve Training Requests", "All", "Trainings")</h5>
                            <h5>@Html.ActionLink("Setup Training Course", "Course", "Trainings")</h5>
                            <h5>@Html.ActionLink("Setup Training Provider", "Provider", "Trainings")</h5>
                            @*<li>@Html.ActionLink("Approve Training Request", "ApproveRequest", "Trainings")</li>*@
                     }
                @*</ul>*@
            </div>
        </div>
    </div>
</section>
