@model IEnumerable<TalentAcquisition.Core.Domain.JobRequisition>
@using Humanizer
<table class="table table-striped" id="RequisitionTable" style="font-size:90%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            Date Created
        </th>
        <th>
            Modifications
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
                @item.PublishedDate.Humanize()
        </td>
        <td>
            @if ((int)item.Status == 0)
            {
                <a href="@Url.RouteUrl("Close",new { id = item.JobRequisitionID, details = item.JobTitle })" class="" style="">
                    Close |
                </a>
                <a href="/Admin/Requisition/Approve/@item.JobRequisitionID/@item.JobTitle" class="" style="">View </a>
                <a href="/Admin/Requisition/Reject/@item.JobRequisitionID/@item.JobTitle" class="hidden" style="">Reject |</a>
            }
            else
            {
                <a href="@Url.RouteUrl("EditRequisitionLink",new { id = item.JobRequisitionID, details = item.JobTitle })" class="" style="">
                    Modify |
                </a>
                <a href="@Url.RouteUrl("Close",new { id = item.JobRequisitionID, details = item.JobTitle })" class="" style="">
                    Close
                </a>
                @*<a href="@Url.Action( "Template/Customize/" + item.ID, "Onboarding")" class="btn btn-sm btn-primary" style=""> Details</a>*@
            }
        </td>
    </tr>
}

</table>
