@model TalentAcquisition.Core.Domain.Employee

@{
    ViewBag.Title = "Employee Creation";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

@*<div style="padding-top:2em;"></div>*@
@*<p style="font-size: 22px;">Employee Creation</p>*@
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">Employee Management</li>
    <li class="active">Register Employee</li>
</ol>

<section class="container-fluid">
    <div class="container-fluid" >

        <span class="alert-danger"></span>
        <span class="alert-danger">@ViewBag.Message</span>

        @using (Html.BeginForm("Personnel/Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <style>
               
                h5{
                    border-bottom:1px solid lightgrey;
                    padding-bottom:0.8em;
                }
            </style>
           
            <div class="">
                @*<div class="panel-heading">
                    
                </div>*@
                <div class="" >
                    <a data-toggle="collapse" href="#collapse3"> <h5 style="font-weight:bold">Employee Details</h5></a>
                </div>
           
                        <div id="collapse3" class="panel-collapse collapse in" style="font-size:80%">
                            <div class="panel-body" >
                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployeeNumber, htmlAttributes: new { @class = "col-md-4" })
                                            <div class="col-md-7">
                                                @Html.HiddenFor(model => model.EmployeeNumber)
                                                <input type="text" disabled value="@Model.EmployeeNumber" class="form-control input-sm" />
                                                @Html.ValidationMessageFor(model => model.EmployeeNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = " col-md-4" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = " col-md-4" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = " col-md-4" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @*@using (Html.BeginForm("UploadFile", "Onboarding", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
                                                {*@
                                            <label class="col-md-4">Upload Photo</label>
                                            <div class="col-md-7" id="uploadcontainer">
                                                <input type="file" name="ImageData" id="ImageData" />
                                                @*<p>
                                                            @Html.TextBox("file", "", new { type = "file", id = "file" })
                                                        <input type="button" id="uploadbtn" value="Upload" class="btn btn-primary input-sm" />
                                                    </p>*@
                                            </div>
                                            @*}*@
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = " col-md-4" })
                                            <div class="col-md-7">
                                                @if ((bool)ViewBag.GuideCreation)
                                            {
                                            <input type="datetime" name="DateOfBirth" id="DateOfBirth" data-date-format="DD-MM-YYYY" class="form-control input-sm" value="@Model.DateOfBirth" no-padding placeholder="Pick Date of Birth" />
                                            }
                                            else
                                            {
                                            <input type="datetime" name="DateOfBirth" id="DateOfBirth" data-date-format="DD-MM-YYYY" class="form-control input-sm" value="" no-padding placeholder="Pick Date of Birth" />
                                            }
                                                @*@Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })*@
                                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4">Email Address</label>
                                            <div class="col-md-7">
                                                <input type="email" id="UserEmail" name="UserEmail" class="form-control input-sm" required />
                                                @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-4" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-sm", @*@required = true*@ } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = " col-md-4" })
                                            <div class="col-md-7">
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                           
                            <div class="">
                                <div class="">
                                    <p class="">
                                        <a data-toggle="collapse" href="#main1" style="text-decoration:none"> <h5 style="font-weight:bold"> Role Settings</h5></a>
                                    </p>
                                </div>
                                <div id="main1" class="panel-collapse collapse in" style="font-size:80%">
                                    <div class="" >
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EmploymentDate, htmlAttributes: new { @class = "col-md-4", @style = "padding-bottom:1em" })
                                                    <div class="col-md-7">
                                                        @if ((bool)ViewBag.GuideCreation)
                                                        {
                                                <input type="datetime" name="EmploymentDate" id="EmploymentDate" data-date-format="DD-MM-YYYY" class="form-control input-sm" value="@Model.EmploymentDate" no-padding placeholder="Choose Date" />
                                                        }
                                                        else
                                                        {
                                                <input type="datetime" name="EmploymentDate" id="EmploymentDate" data-date-format="DD-MM-YYYY" class="form-control input-sm" value="" no-padding placeholder="Choose Date" />
                                                        }
                                                        @*@Html.EditorFor(model => model.EmploymentDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                                        @Html.ValidationMessageFor(model => model.EmploymentDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-3" @*style ="padding-bottom:1em"*@>Role</label>
                                                    <div class="col-md-7">
                                                        @Html.DropDownList("OfficePositionID", null, htmlAttributes: new { @class = "form-control input-sm" })
                                                        @Html.ValidationMessageFor(model => model.OfficePositionID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <input type="submit" value="Create" style="padding:0.6em; border-radius:10px" class="btn btn-success " />
                                    </div>
                                </div>
                              
                            </div>
        }

           </div>
        </section>
                @Scripts.Render("~/bundles/jqueryval")
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#EmploymentDate').datetimepicker({
                            defaultDate: '',
                            format: 'L',
                            showClose: true,
                            showClear: true,
                            toolbarPlacement: 'top'
                        });
                    });
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#DateOfBirth').datetimepicker({
                            defaultDate: '',
                            format: 'L',
                            showClose: true,
                            showClear: true,
                            toolbarPlacement: 'top'
                        });
                    });
                </script>
           

            @*<div class="form-group">
                    @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>*@
