@model TalentAcquisition.Core.Domain.Employee

@{
    ViewBag.Title = "Employee Personal Profile";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
            @*<div style="padding-top:2em;"></div>
            <p style="font-size: 22px;">Employee Profile</p>*@
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
                @*<li><a href="#">Private</a></li>*@
                @*<li><a href="#">Pictures</a></li>*@
                <li class="active">Employee Directory</li>
                <li class="active">Employee Profile</li>
                <li class="active">@Model.EmployeeNumber</li>
            </ol>
            <section class="breadcrumb" style="border-bottom:1px solid lightgrey;border-radius:10px">
                
                      
                           <a class="avatar" href="@Url.Action("Edit", new { id = Model.ID })">

                                            @if (String.IsNullOrEmpty(Model.PassportDetails))
                                            {
                                                <img src="~/Assets/Icons/Man-Suit-2.png" alt="Avatar"  style="border-radius:50%;width:100px;height:100px;box-shadow: 1px 2px 1px 1px lightgrey;">
                                            }
                                            else
                                            {
                                                string url = Path.Combine(Server.MapPath("~/Uploads/"), Model.UserId + "_img.png");
                                                string azureurl = Path.Combine("https://codelabstorage.blob.core.windows.net/webappstoragedotnet-imagecontainer/", Model.PassportDetails);
                                                <img src="@azureurl" alt="Avatar" style="border-radius:50%;width:100px;height:100px;box-shadow: 1px 2px 1px 1px lightgrey;">
                                            }
                    </a>
                                <!--Comment-->
                                <span class="alert-danger"></span>
                                <span class="alert-danger">@ViewBag.Message</span>

                               
                                    <div class="profile-left" style="display:inline-block;position:relative;vertical-align:middle;font-size:large;">
                                        <ul style="    list-style: none;">
                                            <li class="Name" style="font-size: 38px">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</li>
                                            <li class="text-muted">@Html.DisplayFor(model => model.OfficePosition.Title)</li>
                                            @*<li class="title">@Html.DisplayFor(model => model.EmployeeNumber)</li>*@
                                        </ul>
                                        
                                    </div>
                                
                             
                             
                                    <div class="profile-right hidden"  style="display:inline-block;position:relative;vertical-align:middle;font-size:large;">
                                        <ul class="info" style="    list-style: none;">
                                            <li>
                                                <span class="title">@Html.DisplayNameFor(model => model.PhoneNumber):</span>
                                                <span class="text">@Html.DisplayFor(model => model.PhoneNumber)</span>
                                            </li>
                                            <li>
                                                <span class="title">@Html.DisplayNameFor(model => model.Address):</span>
                                                <span class="text">@Html.DisplayFor(model => model.Address)</span>
                                            </li>
                                            <li>
                                                <span class="title">@Html.DisplayNameFor(model => model.DateOfBirth):</span>
                                                <span class="text">@Html.DisplayFor(model => model.DateOfBirth)</span>
                                            </li>
                                            <li>
                                                <span class="title">@Html.DisplayNameFor(model => model.EmploymentDate):</span>
                                                <span class="text">@Html.DisplayFor(model => model.EmploymentDate)</span>
                                            </li>
                                        </ul>
                                    </div>
                               

                                        @*@Html.DisplayNameFor(model => model.OfficePosition.Title)*@
                                   
                                     
                                   
                                        @*@Html.DisplayNameFor(model => model.EmployeeNumbe*@
                                    
                                      
                                    
                                        
                                    
                                        @*@Html.DisplayNameFor(model => model.FirstName)*@
                                    
                                     
                                   
                                        @*@Html.DisplayNameFor(model => model.LastName)*@
                            <div class="form-group hidden">
                                <div class="col-md-6">

                                    @if(User.IsInRole("Admin"))
                                    { 
                                        @Html.ActionLink("Edit", "Edit", new { id = Model.ID },
                                       htmlAttributes: new { @class = "btn btn-default btn-sm col-md-4" })
                                        @*@Html.ActionLink("Delete", "Delete", new { id = Model.ID },
                                       htmlAttributes: new { @class = "btn btn-default btn-sm col-md-4 pull-right" })*@
                                    }
                                    </div>
                              
                            </div>
                          
                 
                   
            </section>
<section class="container" style="margin-top:1em">
  
    <div class="container-fluid">
        <div class="">
            <div class="col-md-6">
                <div class="">
                    <style>
                        .list-group
                        {
                            /*border:1px solid lightgrey;
                            border-radius:6px;*/
                        }
                            .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
                            color: black !important;
                            z-index: 2;
                            /* color: #fff; */
                            background-color: whitesmoke;
                            border-color:lightgrey !important; 
                           
                        }
                            .list-group-item
                            {
                                /*border:none !important;*/
                            }
                          .text{
                              float:right;
                          }  
                    </style>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            Personal Information
                        </li>
                        <li class="list-group-item">
                            <span class="title">First Name:</span>
                            <span class="text" style="">@Html.DisplayFor(model => model.FirstName)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="title"> Last Name:</span>
                            <span class="text" style="">@Html.DisplayFor(model => model.LastName)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="title">Status:</span>
                            <span class="text" style="">@Html.DisplayFor(model => model.MaritalStatus)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="title">Nationality:</span>
                            <span class="text" style="">@Html.DisplayFor(model => model.Nationality)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="title">Address:</span>
                            <span class="text" style="">@Html.DisplayFor(model => model.Address)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="title">Phone Number:</span>
                            <span class="text" style="">@Html.DisplayFor(model => model.PhoneNumber)</span>
                        </li>
                    </ul>
                    <div class="skills hidden">
                        <span>IOS</span>
                        <span>Android</span>
                        <span>Html</span>
                        <span>CSS</span>
                        <span>Codignitor</span>
                        <span>Php</span>
                        <span>Javascript</span>
                        <span>Wordpress</span>
                        <span>Jquery</span>
                    </div>
                </div>
            </div>
        <ul class="info hidden" style="    list-style: none;">
            <li>
                <span class="title">@Html.DisplayNameFor(model => model.PhoneNumber):</span>
                <span class="text">@Html.DisplayFor(model => model.PhoneNumber)</span>
            </li>
            <li>
                <span class="title">@Html.DisplayNameFor(model => model.Address):</span>
                <span class="text">@Html.DisplayFor(model => model.Address)</span>
            </li>
            <li>
                <span class="title">@Html.DisplayNameFor(model => model.DateOfBirth):</span>
                <span class="text">@Html.DisplayFor(model => model.DateOfBirth)</span>
            </li>
            <li>
                <span class="title">@Html.DisplayNameFor(model => model.EmploymentDate):</span>
                <span class="text">@Html.DisplayFor(model => model.EmploymentDate)</span>
            </li>
        </ul>
        </div>
        <div class="col-md-6">
            <div class="row">
            <div class="Emergency information">
                <ul class="list-group">
                    <li class="list-group-item active">Emergency information</li>
                    <li class="list-group-item">
                       <span class="title">Contact Person</span>
                        <span class="text">@Html.DisplayFor(model => model.NextofKinName)</span>
                    </li>
                    <li class="list-group-item">
                        <span class="title">Contact Number</span>
                        <span class="text">@Html.DisplayFor(model => model.NextofKinContact)</span>
                    </li>
                </ul>
            </div>
            <div class="">
                <div class="Employee information">
                    <ul class="list-group">
                        <li class="list-group-item active">Employee information</li>
                        <li class="list-group-item">
                            <span class="title">Role:</span>
                            <span class="text" style="padding-left:22.7em">@Html.DisplayFor(model => model.OfficePosition.Title)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="title">Emloyee ID:</span>
                            <span class="text">@Html.DisplayFor(model => model.EmployeeNumber)</span>
                        </li>
                        <li class="list-group-item">
                            <span class="title">Date Hired:</span>
                            <span class="text">@Html.DisplayFor(model => model.EmploymentDate)</span>
                        </li>
                        <li class="list-group-item hidden">
                            <span class="title">Employee Number:</span>
                            <span class="text" style="padding-left:16.5em">@Html.DisplayFor(model => model.EmployeeNumber)</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>