@model TalentAcquisition.Core.Domain.Employee
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

@*<div style="padding-top:2em;"></div>*@
<p style="font-size: 22px;">Employee Profile</p>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">Employee</li>
    <li class="active">Profile</li>
    <li class="active">Edit</li>
</ol>
<style>
    h5 {
        color: #428bca !important;
        text-decoration: none !important;
    }

    a {
        text-decoration: none !important;
    }

        a:hover {
            color: #2a6496;
            text-decoration: none;
        }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="container-fluid">



        <input type="submit" value="Save" style="padding:0.6em;margin-bottom:1em; border-radius:10px" class="btn btn-default btn-md" />



        <br />

        <div class="panel panel-default panel-default" style="    margin-bottom: 0.5em;">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#main1" style="text-decoration:none"> <h5 style="font-weight:bold"> Personal Details</h5></a>
                </div>
            </div>
            <div id="main1" class="panel-collapse collapse in">
                <div class="panel-body" style="0em 9em 0em 11em">
                    <div class="">
                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-inline" style="padding-right:2em">
                            @*Employee Number*@
                            <div class="form-group" style="padding:2em">
                                @Html.LabelFor(model => model.EmployeeNumber, htmlAttributes: new { @class = "col-md-" })
                                <div class="col-md-">
                                    <input value="@Model.EmployeeNumber" class="form-control input-sm" />

                                    @Html.ValidationMessageFor(model => model.EmployeeNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*First Name*@
                            <div class="form-group" style="padding:2em">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = " col-md-" })
                                <div class="col-md-">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*Last Name*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-md-" })
                                <div class="col-md-">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-inline">
                            @*DOB*@
                            <div class="form-group" style="padding:2em">
                                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "col-md-" })
                                <div class="col-md-">
                                    <input type="datetime" data-date-format="DD-MM-YYYY" class="form-control input-sm" value="@Model.DateOfBirth.ToShortDateString()" no-padding />
                                    <input type="datetime" name="DateOfBirth" id="DateOfBirth" data-date-format="DD-MM-YYYY" class="form-control hidden" value="@Model.DateOfBirth.ToShortDateString()" no-padding />
                                    @*@Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*Role*@
                            <div class="form-group" style="padding:2em;width:200px">
                                @Html.Label("Role", htmlAttributes: new { @class = "col-md-" })
                                <div class="col-md-">

                                    @Html.ValidationMessageFor(model => model.OfficePositionID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*Employee Date*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.EmploymentDate, htmlAttributes: new { @class = "col-md-" })
                                <div class="col-md-">
                                    <input type="datetime" data-date-format="DD-MM-YYYY" class="form-control input-sm" value="@Model.EmploymentDate.ToShortDateString()" no-padding placeholder="Choose Employment Date" />
                                    <input type="datetime" name="EmploymentDate" id="EmploymentDate" data-date-format="DD-MM-YYYY" class="form-control hidden input-sm" value="@Model.EmploymentDate.ToShortDateString()" no-padding placeholder="Choose Employment Date" />
                                    @*@Html.EditorFor(model => model.EmploymentDate, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.EmploymentDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @*hidden*@
                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = " col-md-6" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group hidden">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-md-6" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-default" style="    margin-bottom: 0.5em;">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#collapse2"> <h5 style="font-weight:bold"> Contact Information</h5></a>
                </div>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                @*Nationality*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nationality, htmlAttributes: new { @class = "col-md-6" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*Address*@
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-md-6" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @*Marriage Status*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.MaritalStatus, htmlAttributes: new { @class = "col-md-6" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.MaritalStatus, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*Phone Number*@
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-md-6" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        </div>


        <div class="panel panel-default panel-default" style="    margin-bottom: 0.5em;">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#collapse3"><h5 style="font-weight:bold"> Next of Kin</h5></a>
                </div>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body" style="padding:2em 10em 3em 25em">
                    <div class="form-horizontal">
                        @*Next of kin*@
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>

                            <div class="col-md-8">
                                @Html.EditorFor(model => model.NextofKinName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*Kin relationship*@
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Relationship</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.NextofKinRelationship, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*Kin Address*@
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.NextofKinAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*Kin Contacts*@
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Contact</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.NextofKinContact, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.NextofKinContact, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-default" style="    margin-bottom: 0.5em;">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#collapse4"> <h5 style="font-weight:bold"> Immigration</h5></a>
                </div>
            </div>
            <div id="collapse4" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-default" style="    margin-bottom: 0.5em;">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#collapse5"><h5 style="font-weight:bold"> Work Experience</h5></a>
                </div>
            </div>
            <div id="collapse5" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-default" style="    margin-bottom: 0.5em;">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#collapse6"><h5 style="font-weight:bold"> Education</h5></a>
                </div>
            </div>
            <div id="collapse6" class="panel-collapse collapse in">
                <div class="panel-body">
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-default" style="    margin-bottom: 0.5em;">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#collapse7"> <h5 style="font-weight:bold"> Skills</h5></a>
                </div>
            </div>
            <div id="collapse7" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div ng-controller="EmployeeController" ng-init="setEmployeeId(@Model.ID)">
                        <style>
                            .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
                                border-radius: 23px;
                            }
                        </style>
                        <ul class="nav nav-pills">

                            <li ng-repeat="skill in employeeskills" class="active btn-sm">
                                <a ng-click="removeSkill(skill.ID)">{{skill.Name}}</a>
                            </li>
                        </ul>
                        <form>
                            <hr />
                            <div class="col-md-12">
                                <div class="col-md-4"><input type="text" ng-model="skillName" class="form-control input-sm col-md-4"></div>
                                <input type="button" ng-click="addSkill()" value="Add Skill" class="btn btn-default btn-primary btn-sm" />
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div class="panel panel-default panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#collapse8"> <h5 style="font-weight:bold"> Other Details</h5></a>
                </div>
            </div>
            <div id="collapse8" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div>
                        @foreach (var item in Model.Groups)
                        {
                        <h5><b>GroupName : @item.Group.Name</b></h5>

                        <ul>
                            @foreach (var priviledge in item.Group.Roles)
                                {
                                <li>@priviledge.Role.Name</li>
                                }

                        </ul>
                        }
                    </div>
                </div>
            </div>
        </div>


    </section>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




