
@model TalentAcquisition.BusinessLogic.UpdatedDomain.LeaveManage

@{
    ViewBag.Title = "Leave";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

<script src="~/ckeditor/ckeditor.js">
</script>
<script src="~/ckeditor/adapters/jquery.js"></script>
@*<div style="padding-top:2em;"></div>*@
@*<p style="font-size: 22px;">Employee Creation</p>*@
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">Leave Plan</li>
</ol>
<style>
   h5 {
        color: #428bca !important;
        text-decoration: none !important;
    }

    .panel-title > a {
        text-decoration: none !important;
    }

    .panel-title > a:hover {
            color: #2a6496 !important;
            text-decoration: none !important;
        }
</style>
<section class="container-fluid">
    @*<span>@ViewBag.Message</span>*@
    <div class="row">
        @*<a href="@Url.Action("requisition/create","Admin")" id="reqjob" class="btn"><img src="~/Assets/Icons/File-Plus.png" width="20" />Create Requisition</a>
            <span class="glyphicon glyphicon-search"></span> <input class="form-control input-sm" id="myInput" type="text" placeholder="filter requisition entries.." style="display:inline-block;outline:none" />*@
    </div>
    <style>
        h5{
            padding-bottom:0.8em;
        }
    </style>
    <div class="container-fluid">
        <div class="">
            <div class="">
                <div class="">
                    <a data-toggle="collapse" href="#collapse5"> <h5 style="font-weight:bold;border-bottom:1px solid lightgrey"> Personal Leave Plan Management</h5></a>
                </div>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>@Html.ActionLink("Create Leave Plan","LeavePlan/Create","Employee")</li>
                        <li>@Html.ActionLink("Manage Leave Plans & Requests", "LeavePlan", "Employee")</li>
                    </ul>
                   </div>
            </div>

        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="container-fluid">
            <div class="">
                <div class="">
                    <div class="">
                        <a data-toggle="collapse" href="#collapse1"><h5 style="font-weight:bold;border-bottom:1px solid lightgrey"> Compose Leave Plan Message</h5></a>
                    </div>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="">
                        <form method="post">
                            <div class="form-group">
                                <textarea id="editor1" name="MessageBody" class="ckeditor" value="@Model.MessageBody"></textarea>
                                <div style="margin-top: 7px">
                                    <input type="submit" class="btn btn-success" value="Send Message" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="" >
                <div class="">
                    <div class="">
                        <a data-toggle="collapse" href="#collapse2"> <h5 style="font-weight:bold;border-bottom:1px solid lightgrey"> Pending Leave Plan</h5></a>
                    </div>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Action("_GetleavePlanList", "LeaveManagement")
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="">
                <div class="">
                    <div class="">
                        <a data-toggle="collapse" href="#collapse3"> <h5 style="font-weight:bold;border-bottom:1px solid lightgrey"> Approved Leave Plan</h5></a>
                    </div>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Action("_GetApprovedLeavePlanList", "LeaveManagement")
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="" >
                <div class="">
                    <div class="">
                        <a data-toggle="collapse" href="#collapse4"> <h5 style="font-weight:bold;border-bottom:1px solid lightgrey"> Rejected Leave Plan</h5></a>
                    </div>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        @Html.Action("_GetRejectedLeavePlanList", "LeaveManagement")
                    </div>
                </div>

            </div>
        </div>
    }
    
</section>

