@model TalentAcquisition.BusinessLogic.UpdatedDomain.CashRequisition

@{
    ViewBag.Title = "Cash Request";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}
<div style="overflow-x:hidden">
@*<p style="font-size: 22px;">Cash Requisition</p>*@
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">Expenses</li>
    <li class="active">Transaction</li>
    <li class="active">Request</li>
</ol>
    <style>
        h5 {
            color: #428bca !important;
            text-decoration: none !important;
            border-bottom:1px solid lightgrey;
            padding-bottom:0.8em;
        }

        .panel-title > a {
            text-decoration: none !important;
        }

            .panel-title > a:hover {
                color: #2a6496 !important;
                text-decoration: none !important;
            }
    </style>
<style>
   .container{
    max-width: 1180px;
}
   }
</style>
<section class="container">
    @*<span class="alert-danger alert-dismissable">@ViewBag.Error</span>*@
    <div class="row" ng-controller="ExpenseRecordController" ng-init="init()">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            <div class="">
                <div class="">
                    <div class="">
                        <a data-toggle="collapse" href="#collapse5"><h5 style="font-weight:bold"> Cash Requisition</h5></a>
                    </div>
                </div>
                <div id="collapse5" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <style>
                                label{
                                    font-size:80%;
                                }
                            </style>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.No, htmlAttributes: new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            <input type="text" id="No" name="No" value="@Model.No" class="form-control input-sm" ng-readonly="true" />
                                            @*@Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.No, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CashRequisitionTypeCode, htmlAttributes: new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DropDownList("CashRequisitionTypeCode", null, htmlAttributes: new { @class = "form-control  input-sm" })
                                            @Html.ValidationMessageFor(model => model.CashRequisitionTypeCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="">
                                            @*<span class="alert-danger pull-left">*</span>*@
                                            @Html.LabelFor(model => model.RequestCreator, htmlAttributes: new { @class = "col-md-4" })
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control  input-sm" id="RequestCreator" name="RequestCreator" ng-model="SelectedEmployee"
                                                    ng-options="item.Number for item in employees track by item.Id" ng-change="selectedemployeechanged()"></select>
                                            @*@Html.EditorFor(model => model.RequestCreator, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.RequestCreator, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control  input-sm" } })
                                            @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DateModified, htmlAttributes: new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.DateModified, new { htmlAttributes = new { @class = "form-control  input-sm",@*@disabled="true"*@ } })
                                            @Html.ValidationMessageFor(model => model.DateModified, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BranchCode, htmlAttributes: new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DropDownList("BranchCode", new SelectList(ViewBag.Branches, "BranchId ", "Location"), null, htmlAttributes: new { @class = "form-control  input-sm" })
                                            @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            <input ng-model="selectedEmployeeDepartment" id="DepartmentId" name="DepartmentId" class="form-control  input-sm" ng-readonly="true" />
                                            @*@Html.EditorFor(model => model.DepartmentId, new { htmlAttributes = new { @class = "form-control hidden" } })*@
                                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control  input-sm" } })
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-offset-2 col-md-10" style="padding-left: 25em;margin-top: 2em; margin-bottom: 1em;">
                                <input type="submit" value="Create" class="btn btn-success btn-sm" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="" >
                <div class="">
                    <div class="">
                        <a data-toggle="collapse" href="#collapse4"><h5 style="font-weight:bold"> Line Items</h5></a>
                    </div>
                </div>
                <div id="collapse4" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row container">
                            <button type="button" id="Mexico" style="float:left;margin-bottom: 10px;" class="btn btn-primary btn-sm" ng-click="addGrievanceType()"> Add Transaction Types</button>
                            <style>
                                #myTable input, #myTable select {
                                    border: none;
                                    outline: none;
                                    box-shadow: none;
                                    background-color: inherit;
                                    padding: 0;
                                    margin: 0;
                                }
                            </style>
                            <form id="empform" ng-submit="submitGrievanceTypes()">
                                <table id="mytable" class="table table-striped" style="font-size:90%">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Modification</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="type in grievanceTypes">
                                            <td>{{$index+1}}</td>
                                            <td>
                                                <input class="form-control input-sm" id="Line{{$index}}.Name" name="Line[{{$index}}].Name" ng-required="true" ng-model="type.Name" ng-disabled="!enabledEdit[{{$index}}]" />
                                            </td>
                                            <td>
                                                <input class="form-control input-sm" ng-required="true" id="Line{{$index}}.Description" name="Line[{{$index}}].Description" ng-model="type.Description" ng-disabled="!enabledEdit[{{$index}}]" />
                                            </td>
                                            <td>
                                                <input class="form-control input-sm" ng-required="true" id="Line{{$index}}.Amount" name="Line[{{$index}}].Amount" ng-model="type.Amount" ng-disabled="!enabledEdit[{{$index}}]" />
                                            </td>
                                            <td>
                                                <div class="buttons">
                                                    <a class="" style="cursor:pointer" ng-click="edit($index)">Edit |</a>
                                                    <a class="" style="cursor:pointer" ng-click="delete($index)">Delete</a>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                @*<input type="submit" class="btn btn-primary" value="Submit" />*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    }
    </div>
</section>
</div>

<script>
    employeesbs=@Html.Raw(Json.Encode(ViewBag.Employees));
    itemsbs=@Html.Raw(Json.Encode(ViewBag.Items));
</script>

