@model IEnumerable<TalentAcquisition.BusinessLogic.UpdatedDomain.LeaveApplication>

<table class="table table-striped" style="font-size:80%;border:1px solid lightgrey">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.LeavePlanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>*@
        <th>
           Employee Name
        </th>
        <th>
            Leave Type
        </th>
        <th>
          Leave Limit
        </th>
        <th>
            Leave Taken
        </th>
        <th>
            Available Leave
        </th>
        <th>
            Start Date
        </th>
        <th>
           End Date
        </th>
        <th>
           Duration
        </th>
        <th>
          Apply Date
        </th>
        <th>
            Leave Status
        </th>
        <th>
           Status
        </th>
        <th>Modification</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.LeavePlanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalLeaveTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalLeaveAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeavePlanStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveAppStatus)
            </td>
            <td>
                @Html.ActionLink("Approve", "Approve/" + item.LeaveAppID, "LeaveApplication") |
                @Html.ActionLink("Details", "Details", new { id = item.LeaveAppID })
                @* | @Html.ActionLink("Delete", "Delete", new { id=item.LeaveAppID })*@
            </td>
        </tr>
    }

</table>

