@model TalentAcquisition.BusinessLogic.UpdatedDomain.AppraisalNonJobKPI

@{
    ViewBag.Title = "Create KPI Template";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

@*<p style="font-size: 22px;">Appraisal NonJobKPI Template</p>*@
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">KPI</li>
    <li class="active">Appraisal Template</li>
</ol>
<style>
    h5 {
        color: #428bca !important;
        text-decoration: none !important;
    }

    a {
        text-decoration: none !important;
    }

        a:hover {
            color: #2a6496;
            text-decoration: none;
        }

    h5 {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 0.8em;
    }
</style>

<section class="container-fluid">
@using (Html.BeginForm())
{
    <div class="container-fluid" ng-controller="KPITemplateController">
        <div class="">
            <div class="">
                <div class="">
                    <a data-toggle="collapse" href="#collapse1"> <h5 style="font-weight:bold">     Appraisal NonJobKPI Template</h5></a>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                @Html.AntiForgeryToken()
                <style>
                    label {
                        font-size: 80%;
                    }
                </style>


                <div class="form-horizontal">
                    <div class="col-md-12 col-lg-6">
                        <div class="">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "col-md-4" })
                                <div class="col-md-8">
                                    @*@Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input ng-model="HeaderCode" class="form-control input-sm" id="Code" name="Code" />
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AppraisalClass, htmlAttributes: new { @class = "col-md-4" })
                                <div class="col-md-8">
                                    <input ng-model="AppraisalClass" id="AppraisalClass" name="AppraisalClass" class="form-control input-sm" />
                                    @*@Html.EditorFor(model => model.AppraisalClass, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.AppraisalClass, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save Template" class="btn btn-info" />
                    </div>
                </div>
                </div>
            </div>
               
            </div>
        </div>

        <div class="">
            <div class="">
                <div class="">
                    <a data-toggle="collapse" href="#collapse2"> <h5 style="font-weight:bold">KPI Line Items</h5></a>
                </div>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class=" container-fluid">
                    
                    <button type="button" id="Mexico" style="float:right;margin-bottom: 10px;" class="btn btn-info btn-sm" ng-click="addGrievanceType()">Add Appraisal Grade</button>
               
                    <div id="empform">
                       
                        <table id="mytable" class="table table-striped " style="border:1px solid lightgrey">
                            <thead>
                                <tr style="font-size:80%">
                                    @*<th>No</th>*@
                                    <th>Header Code</th>
                                    <th>Appraisal Class</th>
                                    <th>KPI Group</th>
                                    <th>KPI Code</th>
                                    <th>KPI Description</th>
                                    <th>Maximum Score</th>
                                    <th>Modification</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="type in grievanceTypes" style="font-size:80%">
                                    @*<td>{{$index+1}}</td>*@

                                    <td>
                                        <input type="text" class="form-control input-sm" name="items[{{$index}}].AppraisalNonJobKPICode" ng-bind="HeaderCode" ng-model="type.AppraisalNonJobKPICode"
                                               ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-sm" ng-bind="AppraisalClass" name="items[{{$index}}].AppraisalClass" ng-model="type.AppraisalClass"
                                               ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" name="items[{{$index}}].Group" ng-model="type.Group"
                                               ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input class="form-control input-sm" required name="items[{{$index}}].Code" ng-model="type.Code"
                                               ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td style="width:50%">
                                        <input class="form-control input-sm" required name="items[{{$index}}].Description" ng-model="type.Description" ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-sm form-control" required min="1" max="5" name="items[{{$index}}].MaxScore" ng-model="type.MaxScore"
                                               ng-disabled="!enabledEdit[{{$index}}]" />
                                    </td>
                                    <td>
                                        <div class="">
                                            <a class="" style="cursor:pointer" ng-click="edit($index)">Edit |</a>
                                            <a class=""  style="cursor:pointer" ng-click="delete($index)">Delete</a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
 
}
</section>

<script>
    $(function () {
        $(".myDate").datepicker({
            dateFormat: 'dd-mm-yy'
        });
        $("#Mexico").on("click", function (e) {
           // alert("Vie");
            $(".myDate").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });

    });
</script>
