@model IEnumerable<TalentAcquisition.BusinessLogic.UpdatedDomain.Appraisal>

@{
    ViewBag.Title = "Pending Appraisals";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

@*<p style="font-size: 22px;">Appraisal List</p>*@
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Admin")">Home</a></li>
    @*<li><a href="#">Private</a></li>*@
    @*<li><a href="#">Pictures</a></li>*@
    <li class="active">Performance</li>
    <li class="active">Appraisal List</li>
</ol>
<section class="container-fluid">
    <div class="container-fluid">
        <div class="">
            @*<div class="panel-heading">
                <p class="">Appraisal List</p>
            </div>*@
            <div class="">
                <style>
                    a:hover{
background-color:whitesmoke
                    }
                </style>
                <p>
                    <a class="" href="@Url.Action( "Appraisal/Personal", "Performance")" style="    border: 1px solid lightgrey;
    padding: 0.8em;
    border-radius: 10px;
    text-decoration: none;">Create</a>
                    @*@Html.ActionLink("Create New", "Appraisal/Personal", "Performance")*@
                </p>
                <table class="table table-striped" style="font-size:79%;border:1px solid lightgrey;margin-top: 2em;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.No)
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.AppraisalPeriodCode)*@
                            Appraisal Period Code
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.AppraisalType)*@
                            Appraisal Type
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.AppraisalClass)*@
                            Department
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.AppraiseeCode)*@
                            Appraisee ID
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.AppraisalSupervisor)*@
                            Supervisor
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.CreationDate)*@
                            Date
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.AppraisalName)*@
                            Appraisee
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.AppraisalJobTitle)*@
                            Job Title
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.AppraisalSupervisorName)*@
                            Supervisor Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>Modification</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.No, "Appraisal/Supervisor/Review/"+ item.No, "Performance")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalPeriodCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalTypeCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalClass)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraiseeCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalSupervisor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalJobTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppraisalSupervisorName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.No }) |
                                @Html.ActionLink("Details", "Details", new { id = item.No }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.No })*@
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>


